body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.imagen-header{
    height: 75vh;
    background-image: url("../img/imagen_header.jpg");
    background-size: cover;
    background-position: center;
}

h2, h5{
    font-weight: 900;
}

.contenedor-imagen-header{
    padding-top: 8.9vh;
}

#titulo-david-aravena{
    font-weight: 900;
}